<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CansaCare"
        tools:targetApi="33">
        <activity
            android:name=".ConfirmedBooking"
            android:exported="false" />
        <activity
            android:name=".ServiceBooking"
            android:exported="false" />
        <activity
            android:name=".ServiceDetails"
            android:exported="false" />
        <activity
            android:name=".thread.CreateNewThreadPost"
            android:exported="false" />
        <activity
            android:name=".thread.ThreadDisplay"
            android:exported="false" />
        <activity
            android:name=".post.PostDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_home2" />
        <activity
            android:name=".HomeActivity2"
            android:exported="false"
            android:label="@string/title_activity_home2" />
        <activity
            android:name=".profileSetUp.ProfileSetupDetails"
            android:exported="false" />
        <activity
            android:name=".profileSetUp.ProfileSetup"
            android:exported="false" />
        <activity
            android:name=".Services"
            android:exported="false" />
        <activity
            android:name=".onboardingAndSplash.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".getStartedAccountsCreation.CreateAccount"
            android:exported="false" />
        <activity
            android:name=".getStartedAccountsCreation.Login"
            android:exported="false" />
        <activity
            android:name=".onboardingAndSplash.MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".getStartedAccountsCreation.GetStarted" />
        <activity android:name=".SocialBanner" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>